body{
  font-family: Roboto, sans-serif;
  background: #F5F2F2;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-image: url("../images/work-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
header{
  background: #414546;
  color: #ffffff;
  padding-top: 20px;
  height: 50px;
}
header .current a{
  color: #3B7D7C;
  font-weight: bold;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: 14px;
  font-weight:lighter;
}
header ul{
  margin: 0;
  padding: 0;
}
header li{
  float: right;
  display: inline;
  padding: 0 25px 0 25px;

}
header a:hover{
  color: #3B7D7C;
}
main {
  padding-top: 2rem;
}

.logo {
  background-image: url("../images/mylogo.png");
  align-content: left;
  background-repeat: no-repeat;
  height: 100px;
  margin-left: 5%;
}
